<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging
          logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="true"
          logMalformedMessages="true" logEntireMessage="true"
          maxSizeOfMessageToLog="65535000" maxMessagesToLog="500" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source     name="System.ServiceModel"
                  switchValue="Information, ActivityTracing, Error, Warning, Critical"
                  propagateActivity="true">
        <listeners>
          <add    name="traceListener"
                  type="System.Diagnostics.XmlWriterTraceListener"
                  initializeData= "c:\wcf.svclog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
