<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="NAPS2_32.X86HostService">
                <endpoint address="host" binding="netNamedPipeBinding" contract="NAPS2_32.IX86HostService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
