<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject.MockingKernel" version="3.0.0.5" targetFramework="net45" />
  <package id="Ninject.MockingKernel.Moq" version="3.0.0.5" targetFramework="net45" />
</packages>