<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40-Client" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net35-Client" />
  <package id="Ninject.MockingKernel" version="3.0.0.5" targetFramework="net35-Client" />
</packages>