<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.apple.security.cs.allow-jit</key>
    <true/>
    <!-- Some macOS versions have trouble loading sane without dyld (see WorkerFactory.cs).
         From a security perspective this should be ok as libraries will still need to have the right signature. -->
    <key>com.apple.security.cs.allow-dyld-environment-variables</key>
    <true/>
    <!-- Needed for SANE to work properly.
         Unfortunate, but .NET is a managed language so the potential attack surface is minimal. -->
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key>
    <true/>
  </dict>
</plist>
