<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="NAPS2"
      Language="1033"
      Version="2.6.1"
      Manufacturer="Ben Olden-Cooligan"
      UpgradeCode="FEB82971-B3E6-4F19-9684-1D543E644D73">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="NAPS2.cab" EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="..\NAPS2\Resources\scanner.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="..\NAPS2\Setup\license.rtf" />

    <Feature Id="MainApplication" Title="NAPS2" Level="1">
      <ComponentRef Id="Exec" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id="LangComponents" />
    </Feature>

    <ComponentGroup Id="LangComponents">
      <ComponentRef Id="LangComponent_ca" />
      <ComponentRef Id="LangComponent_cs" />
      <ComponentRef Id="LangComponent_de" />
      <ComponentRef Id="LangComponent_es" />
      <ComponentRef Id="LangComponent_fr" />
      <ComponentRef Id="LangComponent_he" />
      <ComponentRef Id="LangComponent_it" />
      <ComponentRef Id="LangComponent_pl" />
      <ComponentRef Id="LangComponent_ru" />
      <ComponentRef Id="LangComponent_uk" />
    </ComponentGroup>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="NAPS2" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="NAPS2" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Exec" Guid="3ED24800-E1D9-4D64-A106-6DC3597D9266">
        <!-- EXEs -->
        <File Source="..\NAPS2\bin\Release\NAPS2.exe" />
        <File Source="..\NAPS2.Console\bin\Release\NAPS2.Console.exe" />
        <!-- Dependencies -->
        <File Source="..\NAPS2\bin\Release\PdfSharp.dll" />
        <File Source="..\NAPS2\bin\Release\Interop.WIA.dll" />
        <File Source="..\NAPS2\bin\Release\Ninject.dll" />
        <File Source="..\NAPS2\bin\Release\NLog.dll" />
        <File Source="..\NAPS2\Resources\scanner-app.ico" />
        <File Source="..\NAPS2\Setup\lib\wiaaut.dll" />
        <File Source="..\NAPS2.Console\bin\Release\CommandLine.dll" />
        <!-- Configuration -->
        <File Source="..\NAPS2\appsettings.xml" />
        <!-- License -->
        <File Source="..\NAPS2\Setup\license.txt" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="LangFolder_ca" Name="ca">
        <Component Id="LangComponent_ca">
          <File Source="..\NAPS2\bin\Release\ca\NAPS2.resources.dll" Id="LangFile_ca" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_cs" Name="cs">
        <Component Id="LangComponent_cs">
          <File Source="..\NAPS2\bin\Release\cs\NAPS2.resources.dll" Id="LangFile_cs" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_de" Name="de">
        <Component Id="LangComponent_de">
          <File Source="..\NAPS2\bin\Release\de\NAPS2.resources.dll" Id="LangFile_de" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_es" Name="es">
        <Component Id="LangComponent_es">
          <File Source="..\NAPS2\bin\Release\es\NAPS2.resources.dll" Id="LangFile_es" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_fr" Name="fr">
        <Component Id="LangComponent_fr">
          <File Source="..\NAPS2\bin\Release\fr\NAPS2.resources.dll" Id="LangFile_fr" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_he" Name="he">
        <Component Id="LangComponent_he">
          <File Source="..\NAPS2\bin\Release\he\NAPS2.resources.dll" Id="LangFile_he" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_it" Name="it">
        <Component Id="LangComponent_it">
          <File Source="..\NAPS2\bin\Release\it\NAPS2.resources.dll" Id="LangFile_it" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_pl" Name="pl">
        <Component Id="LangComponent_pl">
          <File Source="..\NAPS2\bin\Release\pl\NAPS2.resources.dll" Id="LangFile_pl" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_ru" Name="ru">
        <Component Id="LangComponent_ru">
          <File Source="..\NAPS2\bin\Release\ru\NAPS2.resources.dll" Id="LangFile_ru" />
        </Component>
      </Directory>
      <Directory Id="LangFolder_uk" Name="uk">
        <Component Id="LangComponent_uk">
          <File Source="..\NAPS2\bin\Release\uk\NAPS2.resources.dll" Id="LangFile_uk" />
        </Component>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ApplicationShortcut" Guid="F5122C0C-7DCA-4D0A-AF70-C87C972267AB">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="NAPS2"
                  Description="Not Another PDF Scanner 2"
                  Target="[INSTALLFOLDER]NAPS2.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\NAPS2" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Product>
</Wix>
