<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="NAPS2"
      Language="1033"
      Version="4.3.1"
      Manufacturer="Ben Olden-Cooligan"
      UpgradeCode="FEB82971-B3E6-4F19-9684-1D543E644D73">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="NAPS2.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="icon.ico" SourceFile="..\NAPS2.Core\Resources\scanner.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="..\NAPS2\Setup\license.rtf" />

    <Feature Id="MainApplication" Title="NAPS2" Level="1">
      <ComponentRef Id="Exec" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id="LangComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="NAPS2" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="NAPS2" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Exec" Guid="3ED24800-E1D9-4D64-A106-6DC3597D9266">
        <!-- EXEs -->
        <File Source="..\NAPS2\bin\InstallerMSI\NAPS2.exe" />
        <File Source="..\NAPS2.Console\bin\InstallerMSI\NAPS2.Console.exe" />
        <!-- Dependencies -->
        <File Source="..\NAPS2\bin\InstallerMSI\NAPS2.Core.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\PdfSharp.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Interop.WIA.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Ninject.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\NLog.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\NTwain.dll" />
        <File Source="..\NAPS2.Core\Resources\scanner-app.ico" />
        <File Source="..\NAPS2\Setup\lib\wiaaut.dll" />
        <File Source="..\NAPS2.Console\bin\InstallerMSI\CommandLine.dll" />
        <!-- Configuration -->
        <File Source="..\NAPS2\appsettings.xml" />
        <!-- License -->
        <File Source="..\NAPS2\Setup\license.txt" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ApplicationShortcut" Guid="F5122C0C-7DCA-4D0A-AF70-C87C972267AB">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="NAPS2"
                  Description="Not Another PDF Scanner 2"
                  Target="[INSTALLFOLDER]NAPS2.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\NAPS2" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Product>
</Wix>
